* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f6fb;
}

/* TOPO */
h1 {
    background: #1e2a38;
    color: white;
    padding: 20px;
    text-align: center;
}

/* CONTAINER */
.painel {
    padding: 20px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

th {
    background: #2c3e50;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* STATUS */
.status {
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

.Aberto {
    background: orange;
}

.Andamento {
    background: #3498db;
}

.Resolvido {
    background: #2ecc71;
}

/* ===== DETALHES PC (ARRUMADO SIMPLES) ===== */

.detalhes {
    background: white;
    padding: 15px;
    border-radius: 10px;

    display: block; /* volta pro padrão simples */
}

/* IMAGEM PEQUENA */
#detFoto {
    width: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* TEXTO NORMAL */
#detLocal,
#detCategoria,
#detDescricao {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
}

/* BOTÕES NORMAIS (NÃO GIGANTES) */
.botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.botoes button {
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 6px;
}

/* CORES */
.botoes button:nth-child(1) {
    background: #3498db;
}

.botoes button:nth-child(2) {
    background: #2ecc71;
}

.botoes button:nth-child(3) {
    background: #e74c3c;
}

/* HOVER */
.botoes button:hover {
    opacity: 0.9;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px){

    .detalhes {
        flex-direction: column;
        align-items: center;
    }

    #detFoto {
        width: 100%;
        max-width: 250px;
    }

    .info {
        text-align: center;
        font-size: 14px;
    }

    .botoes {
        flex-direction: column;
        width: 100%;
    }

    .botoes button {
        width: 100%;
    }

}