* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f6fb;
}

/* TOPO */
h1 {
    background: #1e2a38;
    color: white;
    padding: 20px;
    text-align: center;
}

/* CONTAINER */
.painel {
    padding: 20px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

th {
    background: #2c3e50;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* STATUS */
.status {
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

.Aberto {
    background: orange;
}

.Andamento {
    background: #3498db;
}

.Resolvido {
    background: #2ecc71;
}


/* ===== DETALHES PADRÃO FINAL (PC + CELULAR) ===== */

.detalhes {
    background: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 320px;
}

/* IMAGEM PEQUENA */
#detFoto {
    width: 140px;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

/* TEXTOS BONITOS */
#detLocal,
#detCategoria,
#detDescricao {
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
    line-height: 1.4;
}

/* DESCRIÇÃO NÃO FICAR ZOADA */
#detDescricao {
    word-break: break-word;
}

/* BOTÕES EMBAIXO E PEQUENOS */
.botoes {
    margin-top: 10px;
    display: flex;
    gap: 6px;
    justify-content: flex-start;
}

/* BOTÕES PEQUENOS (ACABOU O GIGANTE) */
.botoes button {
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 5px;
    width: auto; /* remove botão gigante */
    flex: none;
}

/* CORES */
.botoes button:nth-child(1) {
    background: #3498db;
}

.botoes button:nth-child(2) {
    background: #2ecc71;
}

.botoes button:nth-child(3) {
    background: #e74c3c;
}

/* HOVER */
.botoes button:hover {
    opacity: 0.9;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px){

    .detalhes {
        flex-direction: column;
        align-items: center;
    }

    #detFoto {
        width: 100%;
        max-width: 250px;
    }

    .info {
        text-align: center;
        font-size: 14px;
    }

    .botoes {
        flex-direction: column;
        width: 100%;
    }


}

/* SPLASH SCREEN */

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1e2a38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    opacity: 1;
    transition: opacity 0.8s ease;
}

/* quando for sumir */
#splash.hide {
    opacity: 0;
}

/* LOGO */
#logoSplash {
    width: 220px;
    margin-bottom: 20px;
    animation: subir 1.2s ease;
}

@keyframes subir {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* LOADING */
.loader {
    width: 45px;
    height: 45px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}