body{
background:#15224a;
font-family:Arial;
color:white;
margin:0;
}

.container{
padding:20px;
}

.card{
background:#2c3766;
padding:15px;
margin:10px 0;
border-radius:10px;
cursor:pointer;
}

.card:hover{
background:#3a4785;
}


.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.modal-content{
background:#1f2b57;
padding:20px;
border-radius:10px;
width:300px;
}

button{
margin-top:10px;
padding:10px;
border:none;
border-radius:6px;
cursor:pointer;
}

textarea{
width:100%;
height:80px;
}

#enviarBtn{

width:100%;
margin-top:20px;
padding:15px;

background:#2d8cff;
border:none;
border-radius:10px;

color:white;
font-size:16px;
cursor:pointer;

}

#enviarBtn:hover{

background:#1f6fd1;

}