* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/imagen_fogueira.jpeg");
    background-size: cover;
    background-position: center;
}

body::before{
    content:"";
    position:absolute;
    inset:0;

    background-image: url("../img/imagen_fogueira.jpeg");
    background-size: 100%; /* diminui a imagem visualmente */
    background-position:center -1px;

    filter: blur(4px);
    transform: scale(1.05); /* evita bordas do blur */

    z-index:-1;
}

.container {
    width: 380px;
    padding: 30px;

    border-radius: 25px;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    text-align: center;
}

.logo {
    width: 280px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 12px;
    font-weight: bold;
    color: #0a4fb3;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    background: #f2f2f2;
}

.botoes{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    color:white;
    font-size:15px;
}

.criar{
    background:#1e73ff;
}

.conta{
    background:#0a5bd8;
}

button:hover{
    transform:scale(1.05);
    transition:0.3s;
}

.senha-box{
    position:relative;
}

.senha-input{
    width:100%;
    padding:12px;
    border-radius:20px;
    border:none;
    background:#f2f2f2;
}

.olho{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-45%);
    cursor:pointer;
    font-size:18px;
}

/* ===== RESPONSIVO REGISTER ===== */
@media (max-width: 600px) {

    body{
        padding: 10px;
        height: auto;
    }

    .container{
        width: 100%;
        padding: 25px;
        border-radius: 20px;
    }

    .logo{
        width: 180px;
    }

    label{
        font-size: 14px;
    }

    input{
        padding: 10px;
        font-size: 14px;
    }

    .botoes{
        flex-direction: column;
        gap: 10px;
    }

    button{
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .olho{
        right: 10px;
        font-size: 16px;
    }

}